" -*- mode: vimrc -*- 

let mapleader = " " 

" Enables using the system clipboard from IdeaVim and vice-versa
set clipboard+=unnamed
set clipboard=unnamedplus

" Do incremental searching
set incsearch

" Map vim marks to IDEA global marks
set ideamarks

" Others configs
set commentary 
set history 
set ignorecase 
set matchpairs 
set multiple-cursors 
set number 
set smartcase 
set surround 
set wrapscan 

" IdeaVim only 
set ideajoin=true 
set idearefactormode=visual 
set ideavimsupport= 

" evil-escape 
imap jk <Esc> 

" Emulated plugins
set NERDTree


"----------------------------------------------------------
" IntelliMacs - START
"----------------------------------------------------------

source ~/.intellimacs/spacemacs.vim

" (Optional) Enable other Intellimacs modules
source ~/.intellimacs/extra.vim
source ~/.intellimacs/major.vim
source ~/.intellimacs/hybrid.vim

" (Optional) Enable which-key plugin
source ~/.intellimacs/which-key.vim

" (Optional) My own vim commands
nnoremap Y y$

" (Optional) Comma for major mode
nmap , <leader>m
vmap , <leader>m

" (Optional) Add/edit actions
nnoremap <leader>gl    :action Vcs.Show.Log<CR>
vnoremap <leader>gl    :action Vcs.Show.Log<CR>
    
"----------------------------------------------------------
" IntelliMacs - END
"----------------------------------------------------------

