"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" intellimacs plugin
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
source ~/.intellimacs/spacemacs.vim

" (Optional) Enable other Intellimacs modules
source ~/.intellimacs/extra.vim
source ~/.intellimacs/major.vim
source ~/.intellimacs/hybrid.vim

" (Optional) Enable which-key plugin
 source ~/.intellimacs/which-key.vim

" (Optional) My own vim commands
nnoremap Y y$

" (Optional) Comma for major mode
nmap , <leader>m
vmap , <leader>m

" (Optional) Add/edit actions
nnoremap <leader>gl    :action Vcs.Show.Log<CR>
vnoremap <leader>gl    :action Vcs.Show.Log<CR>

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""



"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" my personal configs
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Remap ESC to ii
:imap ii <Esc>

map <Space> <leader>

" => Disable arrow keys to learn the hjkl
noremap <Up> <Nop>
noremap <Down> <Nop>
noremap <Left> <Nop>
noremap <Right> <Nop>


" => Plugins
set NERDTree
set easymotion
set surround